$font-family: ' Fran, Constantia, Lucida Bright, Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;';
$primary-color: #323642;
$main-color: #fde20c;
