/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
  color: #333;
  padding: 2rem;
}

/* Container */
.container {
  max-width: 1200px;
  min-height: calc(100vh - 100px);
  margin: auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

/* Title */
.container > h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

/*  */

.product-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 529px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
  padding: 55px;
}
.overlay {
  background-color: #00000036;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
.product-card:hover {
  transform: translate(-50%, -50%) scale(1.02);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  display: block;
  border-bottom: 1px solid #eee;
}

.product-info {
  padding: 1rem;
}

.product-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.product-description {
  font-size: 0.9rem;
  color: #7f8c8d;
  margin-bottom: 0.8rem;
}

.product-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #27ae60;
  margin-bottom: 0.5rem;
}

.product-rating {
  font-size: 0.9rem;
  color: #f39c12;
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.hidden {
  display: none;
}
