* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
svg {
  box-shadow: 1px 1px 4px #000;
  border-radius: 5px;
  background-color: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
