* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
}
div > div {
  position: relative;
}
div > div > h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 33px;
  font-weight: 800;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.upDown {
  animation: moveUpDown 1s infinite alternate ease-in-out;
  -webkit-animation: moveUpDown 1s infinite alternate ease-in-out;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
  }
  100% {
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
  }
}
.showHide {
  animation: showHide 1s infinite alternate ease-in;
  -webkit-animation: showHide 1s infinite alternate ease-in;
}

@keyframes showHide {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

.rotate {
  animation: rotate 1s infinite alternate ease-in;
  -webkit-animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.scale_2 {
  animation: scale infinite linear;
  -webkit-animation: scale 2s infinite linear;
}

@keyframes scale {
  0% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
  }
  50% {
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
  }
  100% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
  }
}
